.testimonial-card {
  min-height: 15.4em;
  border-radius: 0.5rem;
  background: $clr-primary-900;
  color: $clr-neutral-100;
  margin-top: 1rem;
  padding: 1.7em;

  &:hover {
    opacity: 0.9;
  }

  //& - .testimonial-card__person === &__person
  //Interpolation #{&} - .testimonial-card .testimonial-card__person{}
  &__person {
    display: flex;
    gap: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;


    &__name {
      color: $clr-neutral-100;
      font-weight: weight(bold);
    }

    &__title {
      color: $clr-primary-400;
    }

  }

  &__image img {
    max-width: 3em;
    border-radius: 50%;
    // width: 400px;
    // opacity: 0.5;
  }
}

@include for-laptops {
  .testimonials {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .testimonial-card {
    margin-top: 0;
  }

  #card-1 {}

  #card-2 {
    margin-top: 1rem;
  }

  #card-3 {
    margin-top: 2rem;

  }
}