$clr-primary-900: hsl(300, 43%, 22%);
$clr-primary-400: hsl(333, 80%, 67%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-400: hsl(300, 24%, 96%);
$clr-neutral-700: hsl(303, 10%, 53%);

$max-width-desktop: 1440px;
$max-width-mobile-px: 375px;
$max-width-mobile-em: 25em;